/* Home */
.home-body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	text-align: center;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	height: 100%;
	width: 100%;
}

.home-body-logo {
	text-align: center;
	margin-bottom: 20px;
}

.home-body h1 {
	font-size: 2.5rem;
	text-transform: none !important;
	margin: 0 0 20px 0;
	line-height: 48px;
}

.home-body h4 {
	font-size: 1.25rem;
	text-transform: none !important;
	margin: 0 0 20px 0;
	line-height: 28px;
	padding-bottom: 15px;
}

/* Login Screen */
.powered-by {
	display: none !important;
}

#login-card .rc-button.register {
	display: none !important;
}

#login-card {
	display: none !important;
}

.login-terms {
	margin-top: 30px;
}

/* Chat Window */
/* Remove Directory Icon */
header.sidebar__header button[aria-label="Directory"]{
	display: none !important;
}
